# Application Configuration
PROJECT_NAME="Vinyl Crate API"
API_V1_STR="/api/v1"

# Database Configuration
# Local SQLite (Default):
DATABASE_URL="sqlite:///./vinyl_crate.db"

# PostgreSQL (Example for Production / Docker):
# DATABASE_URL="postgresql+psycopg2://postgres:postgres@localhost:5432/vinyl_crate"
